.homeContainer {
  display: flex;
  background-color: red;
}
.homeSectionLeftSideImagePart{
  width:50%;
  background-color: white;
  border:1px solid black;
  height:600px;
  display: flex;
  justify-content: center;
}

.homeSectionRightSideContentPart{
  width:50%;
  height:600px;
  background-color: white;
  border:1px solid black;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content:center; 
  padding:70px;

}

.homeSectionMainHeading{
  font-size: 55px;
  margin:0 0 25px;
}

.KnowMoreBtn {
  background-color: #4dc1ea;
  width:200px;
  font-size: 18px;
  font-weight: 700;
  color: #ffff;
  padding: 12px 29px !important;
  border-radius: 10px;
  border: 2px solid #4dc1ea;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  display: inline-block;
  text-decoration: none;
  transition: 0.7s;
}

.companyDetails {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 40px;
  max-width: 450px;
  color: #6a6f76;
}
