.clientsContent {
  background-color: #f2f7f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clientsContent1 {
  color: #5e5e72;
  font-size: 20px;
  margin: 0 0 5px;
}

.clientsHeading1 {
  color: #000000;
  font-size: 32px;
  margin: 0 0 5px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 12px;
  margin: 0px 110px;
}

.tagSkill,
.coolOxy {
  width: 200px;
}

.flex {
  padding: 50px;
}
