/* Navbar.module.css */

/* Common styles for both desktop and mobile */
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 20px;
  padding: 0px 12px;
  height: 30px;
}

.invayasLogo {
  width: 180px;
}

.navbarContents ul {
  display: flex;
  gap: 30px;
}

.navbarContents li {
  list-style: none;
}

.navbarContents a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #4c535d;
  transition: color 0.3s ease; /* Add smooth transition for color change */
}

.navbarContents a:active,
.navbarContents a:focus,
.navbarContents .activeLink {
  color: #FF9E1A; /* Change this to your desired active link color */
}

/* Navbar right side button CSS */
.serviceContactBtn {
  display: flex;
  gap: 20px;
}

.callBtn,
.emailBtn {
  color: #4c535d;
  font-size: 18px;
  margin: 15px 0px 0px;
  padding: 12px 29px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #4c535d;
}

.whatsAppBtn {
  background-color: #25d366;
  color: #ffffff;
  font-size: 18px;
  margin: 15px 0px 0px;
  padding: 12px 29px;
  border-radius: 10px;
  border: none;
}

/* Media query for mobile view */
@media (max-width: 767px) {
  .navbarContainer {
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 10px;
    height: auto;
  }

  .navbarContents ul {
    flex-direction: column;
    gap: 10px;
  }

  .serviceContactBtn {
    flex-direction: column;
    gap: 10px;
  }
}
